@import url(reset.css);

body{
    background-image: linear-gradient(to bottom, #6097d9, #e9f5ff);

}

.header{
    height: 20vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.main{
    height: 80vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}



